<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<title>Añadir Excursión</title>
<style>
    .cajita {
    	
        background-color: #48c9b0; 
        padding: 20px;
        border-radius: 10px;
        max-width: 400px; 
        margin: 50px auto; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
</style>

</head>
<body style="background-color: #f8f9fa;">>
<form th:action="@{/excursion/alta}" method="post">
<div class="cajita" >
  <div class="mb-3">
    <label class="form-label">idExcursion</label>
    <input type="text" class="form-control" name="idExcursion">
   
    <label class="form-label">Descripción</label>
    <input type="text" class="form-control" name="descripcion">
    
    <label class="form-label">Origen</label>
    <input type="text" class="form-control" name="origen">
    
    <label class="form-label">Destino</label>
    <input type="text" class="form-control" name="destino">
    
    <label class="form-label">Duración</label>
    <input type="text" class="form-control" name="precioUnitario">
    
    <label class="form-label">Aforo Máximo</label>
    <input type="number" class="form-control" name="aforoMaximo">
    
    <label class="form-label">Mínimo Asistentes</label>
    <input type="number" class="form-control" name="minimoAsistentes">
    
    <label class="form-label">Destacado (S/N)</label>
    <input type="text" class="form-control" name="destacado">
    
    <label class="form-label">Estado (CREADO, CANCELADO, TERMINADO)</label>
    <input type="text" class="form-control" name="estado">
    
    <label class="form-label">Fecha Excursión</label>
    <input type="date" class="form-control" name="fechaExcursion">
  </div>
 	
  <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
  <div class="text-center my-4">
            <a class="btn btn-secondary" th:href="@{/}">Volver</a>
        </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>